{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta name="csrf-token" content="{{ csrf_token }}">
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>TRADE.Agile</title>
    <link rel="icon" href="{% static 'C:\Users\Windows\Desktop\VS Code\senaiProject\appname\static\appname\images\devagile.png' %}" type="image/x-icon">
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'appname/css/footer.css' %}">
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'appname/css/navbar.css' %}">
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'appname/css/background.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <script src="{% static 'appname/js/menuresponsivo.js' %}" defer></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/carousel/">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
    <link href="/docs/5.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="apple-touch-icon" href="/docs/5.3/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
    <link rel="icon" href="/docs/5.3/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="/docs/5.3/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="manifest" href="/docs/5.3/assets/img/favicons/manifest.json">
    <link rel="mask-icon" href="/docs/5.3/assets/img/favicons/safari-pinned-tab.svg" color="#712cf9">
    <link rel="icon" href="/docs/5.3/assets/img/favicons/favicon.ico">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    {% load static %}
    <link href="{% static 'css/customer.css' %}" rel="stylesheet">
    <style>

        h1 {
            text-align: center;
            background-color: #1E5E8B;
            color: #FFDE59;
            border-radius: 5px;
            box-shadow: #FFDE59 0px 10px 10px -7px;
        }

        h2 {
            color: white;
        }

        .trade-agile {
            border-radius: 8px;
        }

        .nav-link:hover {
            text-decoration: underline; 
        }
        tbody {
        background-color: transparent !important; /* Deixa o fundo transparente */
        color: white !important; /* Texto branco */
    }

    thead.table-dark {
        background-color: #1E5E8B !important; /* Fundo azul */
        color: #FFDE59 !important; /* Texto amarelo */
    }

    .table-striped tbody tr:nth-of-type(odd) {
        background-color: rgba(255, 255, 255, 0.1) !important; /* Cor de fundo alternativa para linhas ímpares com transparência */
    }

    .table-striped tbody tr:nth-of-type(even) {
        background-color: rgba(255, 255, 255, 0.05) !important; /* Cor de fundo alternativa para linhas pares com transparência */
    }

    </style>
</head>
<body>
    <nav>
        <div class="nav-bar">
            <i class='bx bx-menu sidebarOpen'></i>
            <span class="logo navLogo"><a href="{% url 'login' %}">TRADE.Agile</a></span>
            <div class="menu">
                <div class="logo-toggle">
                    <span class="logo"><a href="{% url 'login' %}">TRADE.Agile</a></span>
                    <i class='bx bx-x sidebarClose'></i>
                </div>
                <ul class="nav-links">
                    <li><a href="{% url 'inicio' %}">Início</a></li>
                    <li><a href="{% url 'galeria_produtos' %}">Produtos</a></li>
                    <li><a href="{% url 'demonstrativo_tabelas' %}">Demonstrativo</a></li>
                    {% if user.is_authenticated and user.is_staff %}
                        <li><a href="{% url 'cadastro_clientes' %}">Cadastrar Cliente</a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="cartBox" style="display: flex; justify-content: flex-end; width: 130.63px;">
                <div class="account">
                    <a href="{% url 'login' %}">
                        <i class="bi bi-person"></i>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-person" viewBox="0 0 16 16">
                            <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"/>
                        </svg>
                    </a>
                </div>
                {% if user.is_authenticated and user.is_staff %}          
                <div class="cart" style="padding-left: 15px;">
                    <a href="{% url 'realizar_venda' %}">
                        <i class="bi bi-cart"></i>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-cart" viewBox="0 0 16 16">
                            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                        </svg>
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
    </nav>

    <div class="container mt-4 " style="margin-top: 100px !important; margin-bottom: 100px !important;">
        <h1 style="margin-bottom: 50px !important;">Demonstrativo das Tabelas</h1>
        <!-- Lista de Clientes -->
        <div class="mb-4">
            <h2>Lista de Clientes</h2>
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">Código</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Razão Social</th>
                            <th scope="col">Data</th>
                            <th scope="col">CNPJ</th>
                            <th scope="col">Cidade</th>
                            <th scope="col">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cli in clientes %}
                        <tr>
                            <td>{{ cli.idcli }}</td>
                            <td>{{ cli.nomecli }}</td>
                            <td>{{ cli.razasoccli }}</td>
                            <td>{{ cli.datacli }}</td>
                            <td>{{ cli.cnpjcli }}</td>
                            <td>{{ cli.cidcli }}</td>
                            
                            <td>
                                <p>
                                    <div class='button-group'>
                                    {% if user.is_authenticated and user.is_staff %}
                                    <a class='btn btn-danger' href="{% url 'contact_delete' cli.pk %}">Delete</a>
                                    <a class='btn btn-warning' href="{% url 'contact_update' cli.pk %}">Update</a>
                                    {% endif %}
                                    </div>
                                </p>
                            </td>
                            
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- Lista de Fornecedores -->
        <div class="mb-4">
            <h2>Lista de Fornecedores</h2>
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">Id Fornecedor</th>
                            <th scope="col">Código</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Razão Social</th>
                            <th scope="col">Telefone</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for forn in fornecedores %}
                        <tr>
                            <td>{{ forn.idforn }}</td>
                            <td>{{ forn.codiforn }}</td>
                            <td>{{ forn.nomeforn }}</td>
                            <td>{{ forn.razasocforn }}</td>
                            <td>{{ forn.foneforn }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- Lista de Produtos -->
        <div class="mb-4">
            <h2>Lista de Produtos</h2>
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">Código</th>
                            <th scope="col">Descrição</th>
                            <th scope="col">Preço</th>
                            <th scope="col">Quantidade</th>
                            <th scope="col">Id Fornecedor</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for prod in produtos %}
                        <tr>
                            <td>{{ prod.codiprod }}</td>
                            <td>{{ prod.descprod }}</td>
                            <td>{{ prod.valorprod }}</td>
                            <td>{{ prod.qntdprod }}</td>
                            <td>{{ prod.idforn_id }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- Lista de Vendas -->
        <div class="mb-4">
            <h2>Lista de Vendas</h2>
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Código</th>
                            <th scope="col">Total da Venda</th>
                            <th scope="col">Data</th>
                            <th scope="col">Id Cliente</th>
                            <th scope="col">Id Fornecedor</th>
                            <th scope="col">Id Vendendor</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for vend in vendas %}
                        <tr>
                            <td>{{ vend.idvend }}</td>
                            <td>{{ vend.codivend }}</td>
                            <td>{{ vend.totalvend }}</td>
                            <td>{{ vend.datavend }}</td>
                            <td>{{ vend.idcli_id }}</td>
                            <td>{{ vend.idforn_id }}</td>
                            <td>{{ vend.idvende_id }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- Link de volta para a Home -->
        <a href="{% url 'inicio' %}" class="btn btn-primary">Voltar para o Início</a>
    </div>

    <div class="stars">
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
    </div>
    <footer>
        <div class="footer-content">
            <p>&copy; 2024 TRADE.AGILE. Todos os direitos reservados.</p>
            <ul class="footer-links">
                <li><a href="{% url 'inicio' %}">Loja virtual programada por DEV.AGILE</a></li>
            </ul>
        </div>
    </footer>
    
    <!-- Bootstrap Bundle with Popper and jQuery -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
